body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
}

h1, h2, h3, h4, h5 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	border: 5px groove #C2CCCA;
	padding: 15px;
	margin: 10;
}
li{
	display: inline;
}
p {
	text-align: justify;
	border: 5px groove #C2CCCA;
	padding: 15px;
	margin: 0;
}

img {
	border: 20px solid #851944;
	border-radius: 50%;
	padding: 10px;
  	width: 300px;
}